---
layout: archive
title: "People"
permalink: /people/
author_profile: true
---

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->



<div style="display:flex; margin-bottom:25px;">

<img src="/images/profile.png"
     style="
     width:120px;
     height:auto;
     margin-right:20px;
     ">

<div>

<h3>Zhang San</h3>

<p><strong>PhD Student</strong></p>

<p>
Research interests:
Piezoelectric structures,
wave manipulation,
electromechanical coupling.
</p>

<p>
Email:
<a href="mailto:xxx@xxx.edu.cn">
xxx@xxx.edu.cn
</a>
</p>

</div>

</div>
