---
layout: archive
# title: "发表论文"
permalink: /zh/publications/
author_profile: false
lang: zh
en_url: /publications/
---

{% if site.author.googlescholar %}
  <div class="wordwrap">在<a href="{{site.author.googlescholar}}">我的 Google Scholar 档案</a>可找到我最新发表的论文。</div>
{% endif %}

{% include base_path %}

<h2>2026</h2>

<ul>
  <li>
    Wang Z, Shao S, Liu J, <strong>Xia R</strong>*.
    Multifunctional shear horizontal wave manipulation by resonant piezoelectric metasurfaces in plates.
    <em>Physica Scripta</em>, 
    <a href="https://doi.org/10.1088/1402-4896/ae9415">2026, 101(35): 355902.</a>
  </li>

  <li>
    Wang W, Shao S, <strong>Xia R</strong>*, Li Z*.
    Tunable bound states in the continuum in piezoelectric composite beam.
    <em>Thin-Walled Structures</em>, 
    <a href="https://doi.org/10.1016/j.tws.2026.114940">2026, 226: 114940.</a>
  </li>

  <li>
    Shao S, Chen J, Negahban M, <strong>Xia R</strong>*, Li Z*.
    Selective manipulation of Lamb waves by piezoelectric metasurface with nonlocal electromechanical coupling effect.
    <em>European Journal of Mechanics - A/Solids</em>, 
    <a href="https://doi.org/10.1016/j.euromechsol.2026.106250">2026, 120: 106250.</a>
  </li>
</ul>

<h2>2025</h2>

<ul>
  <li>
    Wang W, Chen J, <strong>Xia R</strong>*, Shao S, Negahban M, Li Z*.
    Attenuation of guided waves in stiffened panels with viscoelastic fillings.
    <em>Thin-Walled Structures</em>,
    <a href="https://doi.org/10.1016/j.tws.2025.113462">2025, 215: 113462.</a>
  </li>
</ul>


<h2>2024</h2>

<ul>
  <li>
    Shao S, Chen J, Wu Z, Zhang Y, Chen J, <strong>Xia R</strong>*, Li Z*.
    Tunable flexural waves by piezoelectric metasurface with shunt circuits.
    <em>International Journal of Mechanical Sciences</em>,
    <a href="https://doi.org/10.1016/j.ijmecsci.2024.109769">2024, 284: 109769.</a>
  </li>

  <li>
    Wu Z, Chen J, Wang W, Xu J, Shao S, <strong>Xia R</strong>*, Li Z*.
    Elastic wave demultiplexer with frequency dependent topological valley Hall edge states.
    <em>Thin-Walled Structures</em>,
    <a href="https://doi.org/10.1016/j.tws.2024.111997">2024, 201: 111997.</a>
  </li>

  <li>
    Zhang Y, Xu J, <strong>Xia R</strong>, Huang K, Li Z.
    Tunable bandgaps of guided waves by periodic shunting circuits in multilayered piezoelectric plates.
    <em>Applied Mathematical Modelling</em>,
    <a href="https://doi.org/10.1016/j.apm.2024.07.033">2024, 136: 115626.</a>
  </li>

  <li>
    Liu F, Shao S, Wang W, <strong>Xia R</strong>, Negahban M, Li Z.
    A novel cross tetrachiral honeycomb metamaterial with designable static and dynamic performances.
    <em>Materials</em>,
    <a href="https://www.mdpi.com/1996-1944/17/18/4652">2024, 17(18): 4652.</a>
  </li>

  <li>
    Zheng K, Li Z, Zhu J, <strong>Xia R</strong>, Chen J, Hameed MS.
    Multistage damage detection method based on the defect mode for periodically stiffened panels.
    <em>Journal of Sound and Vibration</em>,
    <a href="https://doi.org/10.1016/j.jsv.2023.117999">2024, 569: 117999.</a>
  </li>
</ul>


<h2>2023 and earlier</h2>

<ul>
  <li>
    <strong>Xia R</strong>, Wang W, Shao S, Wu Z, Chen J, Zhang X, Li Z.
    Mode purification for multimode Lamb waves by shunted piezoelectric unimorph array.
    <em>Applied Physics Letters</em>,
    <a href="https://doi.org/10.1063/5.0152291">2023, 122(20): 201703.</a>
  </li>

  <li>
    Wu Z, <strong>Xia R</strong>*, Yi J, Li Z*.
    Multiple topological interface modes in electromechanically resonant piezoelectric beams.
    <em>Engineering Structures</em>,
    <a href="https://doi.org/10.1016/j.engstruct.2023.115716">2023, 281: 115716.</a>
  </li>

  <li>
    Zhu J, Negahban M, Xu J, <strong>Xia R</strong>, Li Z.
    Theoretical analysis of piezoelectric semiconductor thick plates with periodic boundary conditions.
    <em>Micromachines</em>,
    <a href="https://doi.org/10.3390/mi14122174">2023, 14(12): 2174.</a>
  </li>

  <li>
    Zhang Y, <strong>Xia R</strong>, Xu J, Li Z.
    Theoretical analysis of surface waves in piezoelectric medium with periodic shunting circuits.
    <em>Applied Mathematics and Mechanics</em>,
    <a href="https://doi.org/10.1007/s10483-023-3011-7">2023, 44(8): 1287–1304.</a>
  </li>

  <li>
    Shao S, Chen J, <strong>Xia R</strong>, Li Z.
    Lamb waves manipulation by piezoelectric metasurface with tunable diffraction orders.
    <em>Frontiers in Physics</em>,
    <a href="https://doi.org/10.3389/fphy.2023.1114544">2023, 10: 1114544.</a>
  </li>

  <li>
    Yi J, Wu Z, <strong>Xia R</strong>, Li Z.
    Reconfigurable metamaterial for asymmetric and symmetric elastic wave absorption based on exceptional point in resonant bandgap.
    <em>Applied Mathematics and Mechanics</em>,
    <a href="https://doi.org/10.1007/s10483-023-2949-7">2023, 44(1): 1–20.</a>
  </li>

  <li>
    Zhang Y, <strong>Xia R</strong>, Huang K, Li Z.
    Theoretical analysis of guided waves propagation in periodic piezoelectric plates with shunting circuits.
    <em>Frontiers in Physics</em>,
    <a href="https://doi.org/10.3389/fphy.2022.1094077">2022, 10: 1094077.</a>
  </li>

  <li>
    Wu Z, Yi J, <strong>Xia R</strong>, Chen J, Li Z.
    Versatile non-Hermitian piezoelectric metamaterial beam with tunable asymmetric reflections.
    <em>Frontiers in Physics</em>,
    <a href="https://doi.org/10.3389/fphy.2022.1089250">2022, 10: 1089250.</a>
  </li>

  <li>
    Yi J, Ma Z, <strong>Xia R</strong>, Negahban M, Chen C, Li Z.
    Structural periodicity dependent scattering behavior in parity-time symmetric elastic metamaterials.
    <em>Physical Review B</em>,
    <a href="https://doi.org/10.1103/PhysRevB.106.014303">2022, 106(1): 014303.</a>
  </li>

  <li>
    Yi J, Li Z, Negahban M, <strong>Xia R</strong>, Zhu J.
    Asymmetric viscoelastic metamaterials for broad bandgap design and unidirectional zero reflection.
    <em>Mechanical Systems and Signal Processing</em>,
    <a href="https://doi.org/10.1016/j.ymssp.2021.108101">2022, 162: 108101.</a>
  </li>

  <li>
    Shao S, <strong>Xia R</strong>*, Li Z*.
    Tunable piezoelectric metasurface for manipulating multi-mode guided waves in plate.
    <em>Engineering Structures</em>,
    <a href="https://doi.org/10.1016/j.engstruct.2022.114917">2022, 270: 114917.</a>
  </li>

  <li>
    <strong>Xia R</strong>, Shao S, Yi J, Zheng K, Negahban M, Li Z.
    Tunable asymmetric transmission of Lamb waves in piezoelectric bimorph plates by electric boundary design.
    <em>Composite Structures</em>,
    <a href="https://doi.org/10.1016/j.compstruct.2022.116111">2022, 300: 116111.</a>
  </li>

  <li>
    <strong>Xia R</strong>, Nassar H, Chen H, Li Z, Huang G.
    Microtwist homogenization of three-dimensional Pyrochlore lattices on zero modes and mechanical polarization.
    <em>Journal of the Mechanics and Physics of Solids</em>,
    <a href="https://doi.org/10.1016/j.jmps.2021.104564">2021, 155: 104564.</a>
  </li>

  <li>
    <strong>Xia R</strong>, Zhu J, Yi J, Shao S, Li Z.
    Guided wave propagation in multilayered periodic piezoelectric plate with a mirror plane.
    <em>International Journal of Mechanical Sciences</em>,
    <a href="https://doi.org/10.1016/j.ijmecsci.2021.106539">2021, 204: 106539.</a>
  </li>

  <li>
    <strong>Xia R</strong>, Yi J, Chen Z, Li Z.
    <em>In situ</em> steering of shear horizontal waves in a plate by a tunable electromechanical resonant elastic metasurface.
    <em>Journal of Physics D: Applied Physics</em>,
    <a href="https://doi.org/10.1088/1361-6463/ab5cbc">2020, 53(9): 095302.</a>
  </li>

  <li>
    Yi J, Negahban M, Li Z, Su X, <strong>Xia R</strong>.
    Conditionally extraordinary transmission in periodic parity-time symmetric phononic crystals.
    <em>International Journal of Mechanical Sciences</em>,
    <a href="https://doi.org/10.1016/j.ijmecsci.2019.105134">2019, 163: 105134.</a>
  </li>

  <li>
    Zeng Z, <strong>Xia R</strong>, Gai L, Wang X, Lin D, Luo H, Li F, Wang D.
    High performance of macro-flexible piezoelectric energy harvester using a
    0.3PIN-0.4Pb(Mg<sub>1/3</sub>Nb<sub>2/3</sub>)O<sub>3</sub>-0.3PbTiO<sub>3</sub>
    flake array.
    <em>Smart Materials and Structures</em>,
    <a href="https://doi.org/10.1088/0964-1726/25/12/125015">2016, 25(12): 125015.</a>
  </li>
</ul>



